<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Schedules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge (click)="newSchedule()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="scheduler.schedules.length === 0" class="blank-slate">
    You have no schedules.
  </div>

  <ion-list>
    <ion-item *ngFor="let schedule of scheduler.schedules">
      {{ schedule.name }} {{ schedule.hour }}
    </ion-item>
  </ion-list>

</ion-content>
